<html>
<head>
<title> Salut tout le monde !</title >
<link rel="stylesheet" type="text/css" th:href="@{css/dap.css}" href="../static/css/dap.css"> 

</head>

<body>

<center><span  > Salut ! </span></center>
<span th:text="${maVar}"></span>


<center>
<table>
 <table border bgcolor="green">
 <tr>
    <td>&nbsp;</td>
    <td>hjghjghjdgh</td>
    <td>hjdgjdgj</td>
    <td>jhjdgjhghj</td>
  </tr>
  <tr>
    <td>iiluilhvk</td>
    <td>vqfzezqfzqe</td>
    <td>gckyuktyfu</td>
    <td>gr</td>
  </tr>
  <tr>
    <td>rgw"sy</td>
    <td>trurtshrs</td>
    <td>trsurty</td>
    <td>yutrsytiuk</td>
  </tr>
</table></center>


</body>

</html>